
<footer>
<div class="container">
  <div class="row">
    <div class="logo align-items-center mr-auto my-3 my-md-0">
      <a href="#">
        <img src="/assets/images/logo.svg" width="210" alt="imagefx logo">
      </a>
    </div>
    <!-- /.col logo -->
    <div class="copyright align-items-center text-white justify-content-center mx-auto my-3 my-md-0">
      <p>&copy; 2018 ImageFX</p>
    </div>
    <!-- /.col copyright -->
    <div class="social align-items-center justify-content-end ml-auto my-3 my-md-0">
      <a href="#">
        <img src="/assets/images/twitter.svg" class="mr-2" width="24" alt="twitter logo in white color">
      </a>
      <a href="#">
        <img src="/assets/images/fb.svg" class="mr-2" width="20" alt="facebook logo in white color">
      </a>
      <a href="#">
        <img src="/assets/images/in.svg" class="mr-2" width="20" alt="linkedin logo in white color">
      </a>
    </div>
    <!-- /.col social -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!--Bootstrap js-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- custom js -->
<script src="assets/scripts/{{ .script }}.js"></script>

</body>
</html>