<section id="nav-back">
  <div class="container">
    <div class="row">
      <div class="col-11 col-lg-12 mx-auto mt-4">
        <div class="row">
          <a href="/" class="navigate-back">Home</a>
        </div> <!-- /.row -->
      </div> <!-- /.my-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#nav-back -->

<!-- hero -->
<section id="heading">
  <div class="container">
    <div class="row">
      <div class="col-11 col-lg-12 mx-auto col-lg-6 text">
        <div class="row">
          <h1 class="my-4">{{ .data.Title }}</h1>
        </div> <!-- /.row -->
      </div> <!-- /.col-12 col-lg-6 text -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#hero -->

<!-- main -->
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-11 col-lg-12 mx-auto">
        <div class="row">
          <ul class="list-inline">
            <li class='list-inline-item service mb-2 {{ if eq .category "" }}active{{ end }}'><a href="/works/">All</a></li>
            <li class='list-inline-item service mb-2 {{ if eq .category "brandingfx" }}active{{ end }}'><a href="/works/brandingfx/">BrandingFX</a></li>
            <li class='list-inline-item service mb-2 {{ if eq .category "signfx" }}active{{ end }}'><a href="/works/signfx/">SignFX</a></li>
            <li class='list-inline-item service mb-2 {{ if eq .category "vehiclefx" }}active{{ end }}'><a href="/works/vehiclefx/">VehicleFX</a></li>
            <li class='list-inline-item service mb-2 {{ if eq .category "designfx" }}active{{ end }}'><a href="/works/designfx/">DesignFX</a></li>
          </ul>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-12 gallery pt-3 mb-5">
        <div class="row">
          {{ $page := .data.GetPage "/gallery.md" }}
          {{ if eq .category "" }}
            {{ range shuffle $page.Params.gallery }}
            <div class="col-12 col-md-6 col-lg-3 photo-container mb-3">
              <a href="{{ .image }}" data-lightbox="works" data-title="{{ .description }}">
                <div class="photo"
                     style="background: url('{{ .image }}') no-repeat center; -webkit-background-size: cover;background-size: cover;"></div>
              </a>
            </div>
            <!-- /.col-3 photo -->
            {{ end }}
          {{ else }}
          {{ range (where $page.Params.gallery "category" .category ) }}
            <div class="col-12 col-md-6 col-lg-3 photo-container mb-3">
              <a href="{{ .image }}" data-lightbox="works" data-title="{{ .description }}">
                <div class="photo"
                     style="background: url('{{ .image }}') no-repeat center; -webkit-background-size: cover;background-size: cover;"></div>
              </a>
            </div>
            <!-- /.col-3 photo -->
            {{ end }}
          {{ end }}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-12 gallery -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section> <!-- /#main -->
