{{ partial "header" (dict "docTitle" "ImageFX - Visual Branding" "stylesheet" "home") }}

<section id="slides" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
  <div id="heroSlider" class="carousel slide" data-ride="carousel" data-pause="false" data-speed="5000">
    <ol class="carousel-indicators">
      {{ range $index, $elm := .Params.slides }}
      <li data-target="#heroSlider" data-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active"{{ end }}></li>
      {{ end }}
    </ol>
    <div class="carousel-inner">
      {{ range $index, $elm := .Params.slides }}
      <div class="carousel-item {{ if eq $index 0 }}active{{ end }}"
           style="background: url('{{ .image }}') no-repeat center; -webkit-background-size: cover;background-size: cover;"></div>
      {{ end }}
    </div>
    <a class="carousel-control-prev" href="#heroSlider" role="button" data-slide="prev">
      <img src="assets/images/prev.svg" alt="">
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#heroSlider" role="button" data-slide="next">
      <img src="assets/images/next.svg" alt="">
      <span class="sr-only">Next</span>
    </a>
  </div>
</section> <!-- /#slides -->

<section id="hero-matter" class="pt-5" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 px-5 pb-3">
        <h1>{{ .Title }}</h1>
      </div> <!-- /.col-6 -->
      <div class="col-12 col-lg-6 px-5 pb-3">
        <p class="mb-3">{{ .Content }}</p>
      </div> <!-- /.col-6 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#hero-matter -->

<section id="services">
  <div class="container">
    <div class="row">
      <div class="heading">
        <span class="shadow">&nbsp;</span>
        <span class="top">&nbsp;</span>
      </div>
      <div class="col-12 services mb-5">
        <div class="row">
          <div class="col-12 col-lg-6 my-4 service d-flex flex-column justify-content-between"
               data-aos="fade" data-aos-duration="700" data-aos-delay="100">
            <div class="top">
              <div class="service-name">BrandingFx</div>
              <p class="service-description">{{ .Params.brandfx_desc }}</p>
            </div> <!-- /.top -->
            <a href="/brandingfx/">
              <div class="button">Know more</div> <!-- /.button -->
            </a>
          </div> <!-- /.col-6 -->
          <div class="col-12 col-lg-6 my-4 service d-flex flex-column justify-content-between"
               data-aos="fade" data-aos-duration="700" data-aos-delay="100">
            <div class="top">
              <div class="service-name">SignFX</div>
              <p class="service-description">{{ .Params.signfx_desc }}</p>
            </div> <!-- /.top -->
            <a href="/signfx/">
              <div class="button">Know more</div> <!-- /.button -->
            </a>
          </div> <!-- /.col-6 -->
          <div class="col-12 col-lg-6 my-4 service d-flex flex-column justify-content-between"
               data-aos="fade" data-aos-duration="700" data-aos-delay="100">
            <div class="top">
              <div class="service-name">VehicleFX</div>
              <p class="service-description">{{ .Params.vehiclefx_desc }}</p>
            </div> <!-- /.top -->
            <a href="/vehiclefx/">
              <div class="button">Know more</div> <!-- /.button -->
            </a>
          </div> <!-- /.col-6 -->
          <div class="col-12 col-lg-6 my-4 service d-flex flex-column justify-content-between"
               data-aos="fade" data-aos-duration="700" data-aos-delay="100">
            <div class="top">
              <div class="service-name">DesignFX</div>
              <p class="service-description">{{ .Params.designfx_desc }}</p>
            </div> <!-- /.top -->
            <a href="/designfx/">
              <div class="button">Know more</div> <!-- /.button -->
            </a>
          </div> <!-- /.col-6 -->
        </div> <!-- /.row -->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#services -->

<section id="phone" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
  <div class="container text-center py-5">
    <a href="tel:630-655-2850"><img src="/assets/images/phone.svg" width="60" alt="white phone icon"> 630-655-2850</a>
  </div> <!-- /.container -->
</section> <!-- /#phone -->

<section id="new-products" class="d-none" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
  <div class="container">
    <div class="row">
      <div class="col-12 heading mb-3 ml-4">New Product Arrivals</div>
    </div> <!-- /.row -->
    <div class="row">
      <div class="col-12 products">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3 product text-justify">
                <a href="#">
                  <div class="image mb-2"
                       style="background: url('/assets/images/product-1.jpeg') no-repeat bottom; -webkit-background-size: cover;background-size: cover;"></div>
                  <div class="d-flex w-100 justify-content-between">
                    <div class="name">LED Sign fire exit</div>
                    <div class="price text-right">$22.00</div>
                  </div>
                </a>
              </div> <!-- /.product -->
              <div class="col-12 col-md-6 col-lg-3 product text-justify">
                <a href="#">
                  <div class="image mb-2"
                       style="background: url('/assets/images/product-2.jpeg') no-repeat bottom; -webkit-background-size: cover;background-size: cover;"></div>
                  <div class="d-flex w-100 justify-content-between">
                    <div class="name">LED Sign fire exit</div>
                    <div class="price text-right">$22.00</div>
                  </div>
                </a>
              </div> <!-- /.product -->
              <div class="col-12 col-md-6 col-lg-3 product text-justify">
                <a href="#">
                  <div class="image mb-2"
                       style="background: url('/assets/images/product-3.jpeg') no-repeat bottom; -webkit-background-size: cover;background-size: cover;"></div>
                  <div class="d-flex w-100 justify-content-between">
                    <div class="name">LED Sign fire exit</div>
                    <div class="price text-right">$22.00</div>
                  </div>
                </a>
              </div> <!-- /.product -->
              <div class="col-12 col-md-6 col-lg-3 product text-justify">
                <a href="#">
                  <div class="image mb-2"
                       style="background: url('/assets/images/product-4.jpeg') no-repeat bottom; -webkit-background-size: cover;background-size: cover;"></div>
                  <div class="d-flex w-100 justify-content-between ">
                    <div class="name">LED Sign fire exit</div>
                    <div class="price text-right">$22.00</div>
                  </div>
                </a>
              </div> <!-- /.product -->
            </div> <!-- /.row -->
          </div> <!-- /.d-flex w-100 -->
        </div> <!-- /.row -->
        <a href="#" class="shop-now">Shop Now <img src="/assets/images/right-arrow.svg" alt=""></a>
      </div> <!-- /.col-12 products -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#new-products -->

<section id="recent-works">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3 mb-5">
        <div class="heading"
             data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">RECENT WORKS</div>
        <a href="/works/" class="see-works"
           data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">SEE OUR WORKS</a>
      </div> <!-- /.col-4 -->
      <div class="col-12 col-lg-9"
           data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <div class="row">
          <div class="col-12 col-lg-11 ml-auto">
            <div class="row">

              <!--{ $s := newScratch }}-->
              <!--{ $page := .GetPage "/gallery.md" }}-->
              <!--use, range first 3 (shuffle $page.Params.gallery), for random images-->
              <!--{ range first 3 $page.Params.gallery }}-->
              <!--{ $s.Add "images" (slice .image) }}-->
              <!--{ $s.Add "descriptions" (slice .description) }}-->
              <!--{ end }}-->

              <!--{ $images := $s.Get "images" }}-->
              <!--{ $descriptions := $s.Get "descriptions" }}-->

              <a href="/works/" class="col-12 col-md-8 work work-1 d-flex"
                   style="
                  background: url('{{ .Params.image_1 }}') no-repeat center;
                  -webkit-background-size: cover;background-size: cover;">
                <div class="project-name align-self-end">{{ .Params.description_1 }}</div>
              </a> <!-- /.col-8 -->
              <div class="col-4 pr-4 d-none d-md-block">
                <div class="row">
                  <a href="/works/" class="col-12 work work-2 d-flex"
                       style="
                      background: url('{{ .Params.image_2 }}') no-repeat center;
                      -webkit-background-size: cover;background-size: cover;">
                    <div class="project-name align-self-end">{{ .Params.description_2 }}</div>
                  </a> <!-- /.col-12 image -->
                </div> <!-- /.row -->
                <div class="row">
                  <a href="/works/" class="col-12 work work-3 d-flex"
                       style="
                      background: url('{{ .Params.image_3 }}') no-repeat center;
                      -webkit-background-size: cover;background-size: cover;">
                    <div class="project-name align-self-end">{{ .Params.description_3 }}</div>
                  </a> <!-- /.col-12 image -->
                </div> <!-- /.row -->
              </div> <!-- /.col-4 -->
            </div> <!-- /.row -->
          </div> <!-- /.col-10 -->
        </div> <!-- /.row -->
      </div> <!-- /.col-8 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#recent-works -->

<section id="end-part">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 left"
           data-aos="fade-right" data-aos-duration="700" data-aos-delay="100">
        <h1 class="mb-3">{{ .Params.bottom_heading }}</h1>
        <p class="mb-5">{{ .Params.bottom_desc }}</p>
        <a href="#" class="request-quote">Contact us for a free estimate</a>
      </div> <!-- /.col-7 left -->
      <div class="col-12 col-lg-4 ml-auto right"
           data-aos="fade-left" data-aos-duration="700" data-aos-delay="100">
        <h4>CONTACT US</h4>
        <p class="address">
          {{ .Params.address_1 }} <br>
          {{ .Params.address_2 }} <br>
          {{ .Params.address_3 }}
        </p>
        <p>
          Phone: {{ .Params.phone }} <br>
          E-mail: {{.Params.email }}
        </p>
      </div> <!-- /.col-5 right -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section> <!-- /#end-part -->

{{ partial "footer" (dict "script" "") }}