/* line 3, ../sass/brandfx.scss */
html, body {
  background-color: #232323;
}

/* line 7, ../sass/brandfx.scss */
* a {
  text-decoration: none;
}

/* line 11, ../sass/brandfx.scss */
* p {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/brandfx.scss */
section#nav-back a {
  color: #fff;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 22px;
}
/* line 26, ../sass/brandfx.scss */
section#nav-back a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 16px;
  background: url("/assets/images/brandfx/back-arrow.svg") no-repeat center;
}

/* line 40, ../sass/brandfx.scss */
section#hero {
  color: #fff;
  margin-bottom: 80px;
}
/* line 44, ../sass/brandfx.scss */
section#hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 22px;
  position: relative;
}
/* line 52, ../sass/brandfx.scss */
section#hero h1:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 5px;
  height: 19px;
  background-color: #f2bb05;
}
/* line 64, ../sass/brandfx.scss */
section#hero h2 {
  font-family: 'Courgette', cursive;
  font-size: 52px;
}
/* line 68, ../sass/brandfx.scss */
section#hero p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #d3d3d3;
  max-width: 542px;
}
@media screen and (max-width: 992px) {
  /* line 68, ../sass/brandfx.scss */
  section#hero p {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 68, ../sass/brandfx.scss */
  section#hero p {
    max-width: 452px;
  }
}
/* line 83, ../sass/brandfx.scss */
section#hero .image {
  background: url("/assets/images/brandfx/hero.jpeg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 300px;
}

/* line 91, ../sass/brandfx.scss */
section#recent-works {
  position: relative;
  z-index: 2000;
}
/* line 95, ../sass/brandfx.scss */
section#recent-works .works {
  background-color: #444444;
  padding-top: 15px;
  position: relative;
}
/* line 100, ../sass/brandfx.scss */
section#recent-works .works .work {
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 104, ../sass/brandfx.scss */
  section#recent-works .works .work:nth-of-type(odd) {
    padding-right: 7.5px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 109, ../sass/brandfx.scss */
  section#recent-works .works .work:nth-of-type(even) {
    padding-left: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 100, ../sass/brandfx.scss */
  section#recent-works .works .work {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 120, ../sass/brandfx.scss */
  section#recent-works .works .work:nth-of-type(4n+1) {
    padding-left: 15px;
  }
}
@media screen and (min-width: 993px) {
  /* line 125, ../sass/brandfx.scss */
  section#recent-works .works .work:nth-of-type(4n) {
    padding-right: 15px;
  }
}
/* line 131, ../sass/brandfx.scss */
section#recent-works .works .work .image {
  height: 180px;
}
/* line 138, ../sass/brandfx.scss */
section#recent-works .see-more-works {
  color: #fff;
  background-color: #bc0c14;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 25px;
  position: absolute;
  right: 20px;
  bottom: -35px;
  text-transform: uppercase;
}
/* line 148, ../sass/brandfx.scss */
section#recent-works .see-more-works img {
  margin: -3px 0 0 20px;
}
/* line 153, ../sass/brandfx.scss */
section#recent-works .heading {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background: #161414;
  padding: 10px 25px;
  position: absolute;
  left: 15px;
  top: -53px;
}
/* line 164, ../sass/brandfx.scss */
section#recent-works .heading:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 160px;
  top: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 53px solid #161414;
}

/* line 181, ../sass/brandfx.scss */
section#turn-around {
  color: #d3d3d3;
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}
/* line 187, ../sass/brandfx.scss */
section#turn-around:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 365%;
  bottom: -76px;
  background-color: #161414;
}
/* line 198, ../sass/brandfx.scss */
section#turn-around .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  padding-top: 15px;
  position: relative;
}
/* line 205, ../sass/brandfx.scss */
section#turn-around .heading:before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 44px;
  background-color: #bc0c14;
  left: 0;
  top: 0;
}
/* line 217, ../sass/brandfx.scss */
section#turn-around p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

/* line 224, ../sass/brandfx.scss */
section#our-advantages {
  color: #fff;
  margin-bottom: 60px;
}
/* line 228, ../sass/brandfx.scss */
section#our-advantages .heading {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
/* line 234, ../sass/brandfx.scss */
section#our-advantages .phone {
  color: #d3d3d3;
  font-family: "montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
}
/* line 241, ../sass/brandfx.scss */
section#our-advantages .advantage {
  padding-left: 35px;
  position: relative;
}
/* line 245, ../sass/brandfx.scss */
section#our-advantages .advantage:before {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 90%;
  top: 6px;
  left: 15px;
  background-color: #f2bb05;
}
/* line 256, ../sass/brandfx.scss */
section#our-advantages .advantage .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
/* line 263, ../sass/brandfx.scss */
section#our-advantages .advantage .detail {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d3d3d3;
}
