/* line 3, ../sass/footer.scss */
footer {
  height: 140px;
  background-color: #161414;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/footer.scss */
  footer {
    padding-top: 20px;
    height: auto;
  }
}
/* line 15, ../sass/footer.scss */
footer .logo, footer .copyright, footer .social {
  height: 140px;
  display: flex;
}
@media screen and (max-width: 768px) {
  /* line 15, ../sass/footer.scss */
  footer .logo, footer .copyright, footer .social {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
}
