/* line 3, ../sass/header.scss */
* a {
  text-decoration: none;
}

/* line 6, ../sass/header.scss */
#navbar {
  background-color: #161414;
  height: 110px;
  -moz-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
}
/* line 12, ../sass/header.scss */
#navbar li a {
  line-height: 62px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 22, ../sass/header.scss */
#navbar li a:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 0;
  background-color: #bc0c14;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
/* line 34, ../sass/header.scss */
#navbar li a:not(.request-quote):hover:after {
  height: 4px;
}

/* line 43, ../sass/header.scss */
ul.navbar-nav .request-quote {
  background-color: #bc0c14;
  -moz-box-shadow: inset -4px -5px 0 0 #cb2c33;
  -webkit-box-shadow: inset -4px -5px 0 0 #cb2c33;
  box-shadow: inset -4px -5px 0 0 #cb2c33;
  padding: 0 32px !important;
  font-size: 18px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 52, ../sass/header.scss */
#navbarSupportedContent {
  position: fixed;
  right: 50px;
}

/* line 57, ../sass/header.scss */
#dummy-top-margin {
  margin-top: 110px;
}
