/* line 3, ../sass/header.scss */
html {
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 10, ../sass/header.scss */
body {
  margin-bottom: 140px;
  padding-bottom: 50px;
}

/* line 15, ../sass/header.scss */
* a {
  text-decoration: none;
}

/* line 19, ../sass/header.scss */
#navbar {
  background-color: #161414;
  height: 75px;
  -moz-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 1200px) {
  /* line 19, ../sass/header.scss */
  #navbar {
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  /* line 28, ../sass/header.scss */
  #navbar ul.navbar-nav {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  /* line 36, ../sass/header.scss */
  #navbar .navbar-brand img {
    width: 180px;
  }
}
/* line 45, ../sass/header.scss */
#navbar li.nav-item a.nav-link {
  line-height: 75px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
}
@media screen and (max-width: 1200px) {
  /* line 45, ../sass/header.scss */
  #navbar li.nav-item a.nav-link {
    line-height: 50px;
  }
}
/* line 59, ../sass/header.scss */
#navbar li.nav-item a.nav-link:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: 0;
  background-color: #bc0c14;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
@media screen and (max-width: 1200px) {
  /* line 59, ../sass/header.scss */
  #navbar li.nav-item a.nav-link:after {
    bottom: 0;
  }
}
/* line 76, ../sass/header.scss */
#navbar li.nav-item a.nav-link:not(.request-quote):hover:after {
  height: 4px;
}

/* line 85, ../sass/header.scss */
ul.navbar-nav .request-quote {
  background-color: #bc0c14;
  padding: 0 32px !important;
  font-size: 18px;
  text-align: center;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 94, ../sass/header.scss */
ul.navbar-nav .services {
  cursor: pointer;
  position: relative;
  position: relative;
}
/* line 99, ../sass/header.scss */
ul.navbar-nav .services .dropdown {
  position: absolute;
  background-color: #444444;
  line-height: normal;
  overflow: hidden;
  display: none;
  left: 0;
  top: 55px;
  -moz-box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  z-index: 2000;
}
@media screen and (max-width: 1200px) {
  /* line 99, ../sass/header.scss */
  ul.navbar-nav .services .dropdown {
    position: static;
    background-color: transparent;
    display: block;
    -moz-box-shadow: 10px 16px 12px 9px transparent;
    -webkit-box-shadow: 10px 16px 12px 9px transparent;
    box-shadow: 10px 16px 12px 9px transparent;
  }
}
/* line 117, ../sass/header.scss */
ul.navbar-nav .services .dropdown a {
  line-height: normal;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
/* line 126, ../sass/header.scss */
ul.navbar-nav .services .dropdown .drop-item {
  padding: 15px 60px 15px 36px;
  border-left: 2px solid transparent;
  width: 240px;
}
/* line 131, ../sass/header.scss */
ul.navbar-nav .services .dropdown .drop-item:hover {
  background-color: #232323;
  border-left: 2px solid #f2bb05;
  width: auto;
}
/* line 139, ../sass/header.scss */
ul.navbar-nav .services:hover .dropdown {
  display: block;
}

/* line 147, ../sass/header.scss */
#shop-now {
  position: relative;
  cursor: default;
}
/* line 151, ../sass/header.scss */
#shop-now:before {
  content: 'COMING SOON';
  position: absolute;
  background-color: #bc0c14;
  padding: 3px;
  color: #ffffff;
  font-size: 9px;
  left: 38px;
  top: 8px;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 1200px) {
  /* line 151, ../sass/header.scss */
  #shop-now:before {
    top: 20px;
    left: 150px;
    padding: 3px 10px;
  }
}

/* line 174, ../sass/header.scss */
#dummy-top-margin {
  margin-top: 75px;
}
@media screen and (max-width: 1200px) {
  /* line 174, ../sass/header.scss */
  #dummy-top-margin {
    margin-top: 69px;
  }
}
