/* line 3, ../sass/header.scss */
* a {
  text-decoration: none;
}

/* line 6, ../sass/header.scss */
#navbar {
  background-color: #161414;
  height: 110px;
  -moz-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 5px 12px 9px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 1200px) {
  /* line 6, ../sass/header.scss */
  #navbar {
    height: auto;
    padding-bottom: 45px;
    min-height: 110px;
  }
}
/* line 18, ../sass/header.scss */
#navbar li.nav-item a.nav-link {
  line-height: 62px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 28, ../sass/header.scss */
#navbar li.nav-item a.nav-link:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 0;
  background-color: #bc0c14;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
/* line 40, ../sass/header.scss */
#navbar li.nav-item a.nav-link:not(.request-quote):hover:after {
  height: 4px;
}

/* line 49, ../sass/header.scss */
ul.navbar-nav .request-quote {
  background-color: #bc0c14;
  -moz-box-shadow: inset -4px -5px 0 0 #cb2c33;
  -webkit-box-shadow: inset -4px -5px 0 0 #cb2c33;
  box-shadow: inset -4px -5px 0 0 #cb2c33;
  padding: 0 32px !important;
  font-size: 18px;
  text-align: center;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 58, ../sass/header.scss */
ul.navbar-nav .services {
  cursor: pointer;
  position: relative;
}
/* line 62, ../sass/header.scss */
ul.navbar-nav .services .dropdown {
  position: absolute;
  background-color: #444444;
  line-height: normal;
  overflow: hidden;
  display: none;
  left: 0;
  top: 55px;
  -moz-box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 10px 16px 12px 9px rgba(0, 0, 0, 0.12);
  z-index: 2000;
}
@media screen and (max-width: 1200px) {
  /* line 62, ../sass/header.scss */
  ul.navbar-nav .services .dropdown {
    left: 30px;
    top: 45px;
  }
}
/* line 78, ../sass/header.scss */
ul.navbar-nav .services .dropdown a {
  line-height: normal;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
/* line 87, ../sass/header.scss */
ul.navbar-nav .services .dropdown .drop-item {
  padding: 15px 60px 15px 36px;
  border-left: 2px solid transparent;
}
/* line 91, ../sass/header.scss */
ul.navbar-nav .services .dropdown .drop-item:hover {
  background-color: #232323;
  border-left: 2px solid #f2bb05;
}
/* line 98, ../sass/header.scss */
ul.navbar-nav .services:hover .dropdown {
  display: block;
}

/* line 106, ../sass/header.scss */
#shop-now {
  position: relative;
  cursor: default;
}
/* line 110, ../sass/header.scss */
#shop-now:before {
  content: 'COMING SOON';
  position: absolute;
  background-color: #bc0c14;
  padding: 3px;
  color: #ffffff;
  font-size: 9px;
  left: 38px;
  top: 3px;
  font-weight: 600;
  line-height: normal;
}

/* line 127, ../sass/header.scss */
#dummy-top-margin {
  margin-top: 110px;
}
