/* line 3, ../sass/services.scss */
html, body {
  background-color: #232323;
}

/* line 7, ../sass/services.scss */
* a {
  text-decoration: none;
}

/* line 11, ../sass/services.scss */
* p {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/services.scss */
section#nav-back a {
  color: #fff;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 22px;
}
/* line 26, ../sass/services.scss */
section#nav-back a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 16px;
  background: url("/assets/images/back-arrow.svg") no-repeat center;
}

/* line 40, ../sass/services.scss */
section#hero {
  color: #fff;
  margin-bottom: 80px;
}
/* line 44, ../sass/services.scss */
section#hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-left: 22px;
  position: relative;
}
/* line 51, ../sass/services.scss */
section#hero h1:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 5px;
  height: 19px;
  background-color: #f2bb05;
}
/* line 63, ../sass/services.scss */
section#hero h2 {
  font-family: 'Courgette', cursive;
  font-size: 52px;
}
/* line 67, ../sass/services.scss */
section#hero p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #d3d3d3;
  max-width: 542px;
}
@media screen and (max-width: 992px) {
  /* line 67, ../sass/services.scss */
  section#hero p {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 67, ../sass/services.scss */
  section#hero p {
    max-width: 452px;
  }
}
/* line 82, ../sass/services.scss */
section#hero .image {
  min-height: 300px;
  position: relative;
}
/* line 86, ../sass/services.scss */
section#hero .image:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #bc0c14;
  border-right-color: transparent;
  border-bottom-color: transparent;
  left: -12px;
  top: -12px;
}
/* line 98, ../sass/services.scss */
section#hero .image:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border: 4px solid #bc0c14;
  border-left-color: transparent;
  border-top-color: transparent;
  right: -12px;
  bottom: -12px;
}

/* line 112, ../sass/services.scss */
section#recent-works {
  position: relative;
  z-index: 100;
}
/* line 116, ../sass/services.scss */
section#recent-works .works {
  background-color: #444444;
  padding-top: 15px;
  position: relative;
}
/* line 121, ../sass/services.scss */
section#recent-works .works .work {
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 125, ../sass/services.scss */
  section#recent-works .works .work:nth-of-type(odd) {
    padding-right: 7.5px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 130, ../sass/services.scss */
  section#recent-works .works .work:nth-of-type(even) {
    padding-left: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 121, ../sass/services.scss */
  section#recent-works .works .work {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 141, ../sass/services.scss */
  section#recent-works .works .work:nth-of-type(4n+1) {
    padding-left: 15px;
  }
}
@media screen and (min-width: 993px) {
  /* line 146, ../sass/services.scss */
  section#recent-works .works .work:nth-of-type(4n) {
    padding-right: 15px;
  }
}
/* line 152, ../sass/services.scss */
section#recent-works .works .work .image {
  height: 180px;
}
/* line 159, ../sass/services.scss */
section#recent-works .see-more-works {
  color: #fff;
  background-color: #bc0c14;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 25px;
  position: absolute;
  right: 20px;
  bottom: -35px;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 171, ../sass/services.scss */
section#recent-works .see-more-works:hover {
  right: 10px;
}
/* line 175, ../sass/services.scss */
section#recent-works .see-more-works img {
  margin: -3px 0 0 20px;
}
/* line 180, ../sass/services.scss */
section#recent-works .heading {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background: #161414;
  padding: 10px 25px;
  position: absolute;
  left: 15px;
  top: -53px;
}
/* line 191, ../sass/services.scss */
section#recent-works .heading:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: 160px;
  top: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 53px solid #161414;
}

/* line 208, ../sass/services.scss */
section#turn-around {
  color: #d3d3d3;
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}
/* line 214, ../sass/services.scss */
section#turn-around:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 365%;
  bottom: -76px;
  background-color: #161414;
}
/* line 225, ../sass/services.scss */
section#turn-around .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
  padding-top: 15px;
  position: relative;
}
/* line 232, ../sass/services.scss */
section#turn-around .heading:before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  width: 44px;
  background-color: #bc0c14;
  left: 0;
  top: 0;
}
/* line 244, ../sass/services.scss */
section#turn-around p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

/* line 251, ../sass/services.scss */
section#our-advantages {
  color: #fff;
  margin-bottom: 60px;
}
/* line 255, ../sass/services.scss */
section#our-advantages .heading {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
/* line 261, ../sass/services.scss */
section#our-advantages .phone {
  color: #d3d3d3;
  font-family: "montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
}
/* line 267, ../sass/services.scss */
section#our-advantages .phone a {
  color: #ffffff;
  text-decoration: none;
}
/* line 273, ../sass/services.scss */
section#our-advantages .advantage {
  padding-left: 35px;
  position: relative;
}
/* line 277, ../sass/services.scss */
section#our-advantages .advantage:before {
  content: '';
  position: absolute;
  display: block;
  width: 5px;
  height: 90%;
  top: 6px;
  left: 15px;
  background-color: #f2bb05;
}
/* line 288, ../sass/services.scss */
section#our-advantages .advantage .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
/* line 295, ../sass/services.scss */
section#our-advantages .advantage .detail {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d3d3d3;
}
