/* line 3, ../sass/works.scss */
html, body {
  background-color: #232323;
}

/* line 7, ../sass/works.scss */
* a {
  text-decoration: none;
}

/* line 11, ../sass/works.scss */
* p {
  padding: 0;
  margin: 0;
}

/* line 19, ../sass/works.scss */
section#nav-back a {
  color: #fff;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 22px;
}
/* line 26, ../sass/works.scss */
section#nav-back a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 16px;
  background: url("/assets/images/back-arrow.svg") no-repeat center;
}

/* line 40, ../sass/works.scss */
section#heading {
  color: #fff;
  margin-bottom: 20px;
}
/* line 44, ../sass/works.scss */
section#heading h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 22px;
  position: relative;
}
/* line 52, ../sass/works.scss */
section#heading h1:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 5px;
  height: 19px;
  background-color: #f2bb05;
}

/* line 68, ../sass/works.scss */
section#main .service {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #444444;
  color: #ffffff;
  cursor: pointer;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
/* line 77, ../sass/works.scss */
section#main .service:hover {
  background-color: #731a1c;
}
/* line 81, ../sass/works.scss */
section#main .service a {
  color: #fff;
  height: 51px;
  padding: 0 35px;
  line-height: 51px;
  display: block;
  text-decoration: none;
}
/* line 90, ../sass/works.scss */
section#main .service.active {
  background-color: #bc0c14;
}
/* line 95, ../sass/works.scss */
section#main .gallery {
  background-color: #444444;
  -moz-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
}
/* line 99, ../sass/works.scss */
section#main .gallery .photo-container {
  height: 180px;
}
/* line 102, ../sass/works.scss */
section#main .gallery .photo-container .photo {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
/* line 108, ../sass/works.scss */
section#main .gallery .photo-container:hover .photo {
  -moz-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 4px 5px 11px 2px rgba(0, 0, 0, 0.7);
  border-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 114, ../sass/works.scss */
  section#main .gallery .photo-container:nth-of-type(odd) {
    padding-right: 7.5px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 119, ../sass/works.scss */
  section#main .gallery .photo-container:nth-of-type(even) {
    padding-left: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 99, ../sass/works.scss */
  section#main .gallery .photo-container {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media screen and (min-width: 993px) {
  /* line 130, ../sass/works.scss */
  section#main .gallery .photo-container:nth-of-type(4n+1) {
    padding-left: 15px;
  }
}
@media screen and (min-width: 993px) {
  /* line 135, ../sass/works.scss */
  section#main .gallery .photo-container:nth-of-type(4n) {
    padding-right: 15px;
  }
}
/* line 141, ../sass/works.scss */
section#main .gallery .photo-container .photo {
  height: 100%;
}

/* line 148, ../sass/works.scss */
#lightbox {
  position: fixed !important;
  top: 50px !important;
}
/* line 152, ../sass/works.scss */
#lightbox .lb-image {
  border-color: #575757 !important;
}
/* line 156, ../sass/works.scss */
#lightbox .lb-close {
  position: absolute;
  right: 30px;
  top: 0;
}
/* line 162, ../sass/works.scss */
#lightbox .lb-details {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
/* line 168, ../sass/works.scss */
#lightbox .lb-caption {
  font-family: "Loto", sans-serif;
  font-size: 16px;
}
/* line 173, ../sass/works.scss */
#lightbox .lb-number {
  margin-top: 10px !important;
}
