@import "compass/css3";

html, body {
  background-color: #232323;
}

* a {
  text-decoration: none;
}

* p {
  padding: 0;
  margin: 0;
}

// SLIDES
#slides, .carousel-item {
  height: 550px;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 320px;
  }
}

// HERO-MATTER
#hero-matter {
  position: relative;
  color: #d3d3d3;

  & h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin-top: 25px;
    line-height: 1.4;
    position: relative;
    max-width: 467px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 44px;
      height: 5px;
      background-color: #bc0c14;
      top: -21px;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% + 150px);
    left: 0;
    top: 0;
    background-color: #161414;
  }
}

// SERVICES
#services {
  color: #d3d3d3;
  position: relative;

  & .heading span.top, .heading span.shadow {
    display: block;
    font-family: 'lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 52px;

    &:before { // rectangle
      content: 'Our services';
      height: 52px;
      width: 190px;
      position: absolute;
    }

    &:after { // triangle
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
  }

  & .heading span.top {
    position: relative;

    &:before {
      left: 7px;
      top: 0;
      padding-left: 40px;
      background-color: #bc0c14;
    }

    &:after {
      top: 0;
      left: 171px;
      border-bottom: 52px solid #bc0c14;
    }
  }

  & .heading span.shadow {
    position: absolute;

    &:before {
      left: 17px;
      top: 4px;
      padding-left: 30px;
      background-color: #232323;
    }

    &:after {
      top: 4px;
      left: 181px;
      border-bottom: 52px solid #232323;
    }
  }

  & .services {
    background-color: #444444;
    padding: 32px 0 42px 0;
    @include box-shadow(10px 16px 12px 9px rgba(0, 0, 0, 0.12));
    position: relative;

    &:after { // line at the center
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 94%;
      left: 50%;
      top: 3%;
      background-color: #2d2a2a;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    & .service {
      padding: 0 62px;
    }

    & .service-name {
      font-family: 'montserrat', sans-serif;
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      padding-left: 26px;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 5px;
        height: 20px;
        background-color: #f2bb05;
        left: 0;
        top: 6px;
      }
    }

    & .service-description {
      font-family: "lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 0;
    }

    & a {
      color: #d3d3d3 !important;
    }

    & .button {
      font-family: "lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
      padding-right: 65px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #bc0c14;
        right: 0;
        bottom: -14px;
        @include border-radius(50%);
      }
      
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #bc0c14;
        right: 0;
        bottom: -12px;
        background: url("../images/arrow.svg") no-repeat center;
      }
    }
  }
}

// PHONE
#phone {
  color: #d3d3d3;
  font-family: "montserrat", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

// NEW-PRODUCTS
#new-products {
  color: #d3d3d3;
  position: relative;
  margin-bottom: 148px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 135%;
    top: 40%;
    background-color: #161414;
  }

  & .heading {
    font-family: "lato", sans-serif;
    font-size: 22px;
    font-weight: 400;
  }
  
  & .products {
    background-color: #444444;
    padding-top: 15px;

    position: relative;
    @include box-shadow(4px 5px 11px 2px rgba(0, 0, 0, 0.12));

    & .product {
      //width: calc(25% - 11.75px);
      margin-bottom: 15px;

      // 2 works in 1 row
      &:nth-of-type(odd) {
        @media screen and (max-width: 992px) and (min-width: 768px) {
          padding-right: 7.5px;
        }
      }
      &:nth-of-type(even) {
        @media screen and (max-width: 992px) and (min-width: 768px) {
          padding-left: 7.5px;
        }
      }

      // 4 works in 1 row
      @media screen and (min-width: 993px) {
        padding-left: 7.5px;
        padding-right: 7.5px;
      }
      &:nth-of-type(4n+1) {
        @media screen and (min-width: 993px) {
          padding-left: 15px;
        }
      }
      &:nth-of-type(4n) {
        @media screen and (min-width: 993px) {
          padding-right: 15px;
        }
      }
      & .image{
        height: 180px;
        width: 100%;
      }

      & .name {
        font-family: 'lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
      }

      & .price {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #f2bb05;
      }
    }
  }

  & .shop-now {
    color: #fff;
    background-color: #bc0c14;
    @include border-radius(4px);
    padding: 10px 25px;
    position: absolute;
    right: 20px;
    bottom: -35px;
    text-transform: uppercase;

    & img {
      margin: -3px 0 0 20px
    }
  }
}

// RECENT-WORKS
#recent-works {
  color: #d3d3d3;
  position: relative;
  
  & .container {
    background-color: #444444;
    padding: 26px;
    // padding-left: 35px;
    @include box-shadow(4px 5px 11px 2px rgba(0, 0, 0, 0.12));

    & .heading {
      font-family: 'Montserrat', sans-serif;
      font-size: 50px;
      line-height: 1.36;
      font-weight: 600;
      margin-bottom: 45px;
      position: relative;
      padding-left: 30px;
      color: #fff;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 5px;
        height: 80%;
        left: 0;
        top: 10%;
        background-color: #f2bb05;
      }
    }

    & .see-works {
      color: #d3d3d3;
      padding-left: 30px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #bc0c14;
        right: -80px;
        bottom: -14px;
        @include border-radius(50%);
      }

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        background-color: #bc0c14;
        right: -80px;
        bottom: -12px;
        background: url("../images/arrow.svg") no-repeat center;
      }
    }

    & .work {
      padding: 0;
    }

    & .work-1 {
      height: 404px;
      position: relative;
    }

    & .work-2, .work-3 {
      height: 202px;
      position: relative;
    }

    & .project-name {
      font-family: "lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      width: 100%;
      background-color: rgba(2,2,2,0.46);
      @include transition(background 0.2s);
    }

    & .work:hover .project-name {
      background-color: rgba(2,2,2,1);
    }
  }
}

// END_PART
#end-part {
  color: #d3d3d3;
  margin: 95px 0 74px 0;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  & .left {
    margin-left: -15px;

    & h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 600;
    }

    & p {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      max-width: 432px;
    }
    
    & .request-quote {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      padding: 16px 20px;
      background-color: #bc0c14;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  & .right {

    & h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      font-weight: 600;
    }

    & p {
      font-family: "Lato", sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding-bottom: 15px;
    }
  }

  & .right {
    @media screen and (max-width: 768px) {
      margin-top: 60px;
      padding: 0;
    }
  }
}